html {
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    text-align: center;
}

img {
    border: 5px solid;
    border-color: yellow;
    width: 100%;
}

h1 {
    color: yellow;
    text-transform: uppercase;
}

p {
    color: white;
}

div {
    width: 50%;
    margin: 25%;
}